<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>wolf</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //for-mobile-apps -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
	<!--about-bottom -->
	<link type="text/css" rel="stylesheet" href="css/cm-overlay.css" />
	<!--about-bottom -->
	<link href="http://fonts.googleapis.com/css?family=Yesteryear" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
	<div class="agile-banner-main" id="home">
		<div class="banner-layer">
			<div class="header-main">
				<div class="container">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>

						</div>
						<!-- navbar-header -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li class="scroll hvr-underline-from-center">
									<a href="index.html">Home</a>
								</li>
								<li>
									<a class="scroll hvr-underline-from-center" href="#about">About</a>
								</li>
								<li>
									<a class="scroll hvr-underline-from-center" href="#menu">Menu</a>
								</li>
								<li>
									<a class="scroll hvr-underline-from-center" href="#team">Team</a>
								</li>
								<li>
									<a class="scroll hvr-underline-from-center" href="#testimonials">Testimonials</a>
								</li>
								<li>
									<a class="scroll hvr-underline-from-center" href="#contact">Contact</a>
								</li>
							</ul>
							<ul class="list-right">
								<li>
									<span class="fa fa-envelope-o list-icon" aria-hidden="true"></span>
									<a href="mailto:info@example.com">info@example.com</a>
								</li>
								<li>
									<span class="fa fa-phone list-icon" aria-hidden="true"></span>
									<p> 1234 423 23 </p>
								</li>
							</ul>
						</div>


						<div class="clearfix"> </div>
					</nav>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- //menu -->
			<!-- banner -->
			<div class="container">
				<div class="banner-top">
					<div class="banner-info">
						<h1>
							<a href="index.html">
								<img src="images/logo.png" class="img-responsive" alt="" />Spicy Bite</a>
						</h1>
						<h2>Tasty experience in every bite!</h2>

						<div class="about-p text-center">
							<span class="sub-title"></span>
							<span class="fa fa-cutlery" aria-hidden="true"></span>
							<span class="sub-title"></span>
						</div>
						<p>make your kinda meal
							<p>

					</div>
				</div>

			</div>

			<div class="clearfix"> </div>
		</div>
	</div>

  <div id="app">
  <!--Tables-->
  <div class="row mb-5" id="table">
    <div class="col-sm-12">

      <div class="mt-3 mb-5">
        <!--插值表达式-->
        <h3>{{author}}:{{calc}}元</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>菜名</th>
              <th>价格</th>
              <th>选择</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="dish in dishes">
              <td>{{dish.name}}</td>
              <td>{{dish.price/100}}元</td>
              <td>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom=control-input" v-model="dish.selected">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">点击选择该商品</span>
                </label>
              </td>
            </tr>
          </tbody>
          </table>
          <button type="button" class="am-btn am-btn-success am-round" v-on:click="send()">下单</button>
      </div>
    </div>
  </div>
  <!--Table end-->
  </div>
              
	<!--footer-->
	<div class="footer-grid">
		<div class="container">
				<div class="footer_grid_bottom contact">
					<ul>

						<li>
							<span class="fa fa-envelope-o" aria-hidden="true"></span>
							<a href="mailto:info@example.com">110@qq.com</a>
						</li>
						<li>
							<span class="fa fa-phone" aria-hidden="true"></span>
							<p>110</p>
						</li>
						<li>
							<span class="fa fa-map-marker" aria-hidden="true"></span>
							<p>你的心里!</p>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	<div class="w3_agileits-subscribe text-center">
		<div class="subscribe-head">
			<h4>get subscribed! </h4>
			<h5>Get The Latest & Best Coupon/Offer Alerts also get upto 10% off on First Food Order.</h5>
			<p class="sub-p">Never miss out on latest sales and best offers!</p>
			<div class="subscribe-form">
				<form action="#" method="post" class="subscribe_form">
					<input type="email" placeholder="Email" required="">
					<input type="submit" value="subscribe">
				</form>
				<div class="clearfix"> </div>
			</div>
			<p>We value your privacy & guarantee zero spamming.</p>
		</div>
	</div>
	<div class="footer-cpy text-center">
		<div class="social_banner">
			<ul class="social_list">
				<li>
					<a href="#" class="facebook">
						<span class="fa fa-facebook" aria-hidden="true"></span>
					</a>
				</li>
				<li>
					<a href="#" class="twitter">
						<span class="fa fa-twitter" aria-hidden="true"></span>
					</a>
				</li>
				<li>
					<a href="#" class="dribble">
						<span class="fa fa-dribbble" aria-hidden="true"></span>
					</a>
				</li>
				<li>
					<a href="#" class="vimeo">
						<span class="fa fa-vimeo" aria-hidden="true"></span>
					</a>
				</li>
			</ul>
		</div>
		<div class="footer-copy">
			<p>Copyright &copy; 2017.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
		</div>
	</div>
	<!--//footer-->



	<!-- Tooltip -->
	<div class="tooltip-content">
		<div class="modal fade features-modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3 class="modal-title">
							<img src="images/logo.png" class="img-responsive img1" alt="" />Spicy Bite</h3>
					</div>
					<div class="modal-body">
						<img src="images/modal.jpg" class="img-responsive" alt="image">
						<h4>Tasty experience in every bite!</h4>
						<p>Fusce et congue nibh, ut ullamcorper magna. Donec ac massa tincidunt, fringilla sapien vel, tempus massa. Vestibulum
							felis leo, tincidunt sit amet tristique accumsan. In vitae dapibus metus. Donec nec massa non nulla mattis aliquam
							egestas et mi.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Tooltip -->

	<!-- js -->
	<script src="js/jquery-2.2.3.min.js"></script>
	<!--/js-->
	<!-- //gallery -->
	<script src="js/jquery.tools.min.js"></script>
	<script src="js/jquery.mobile.custom.min.js"></script>
	<script src="js/jquery.cm-overlay.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.cm-overlay').cmOverlay();
		});
	</script>
	<!-- //gallery -->
	<!--start-date-piker-->
	<link rel="stylesheet" href="css/jquery-ui.css" />
	<script src="js/jquery-ui.js"></script>
	<script>
		$(function () {
			$("#datepicker,#datepicker1").datepicker();
		});
	</script>
	<!-- /End-date-piker -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!--//end-smooth-scrolling-->
	<!-- smooth-scrolling-of-move-up  -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>


	<script src="js/SmoothScroll.min.js"></script>

	<script>
		$(document).ready(function () {
			size_li = $("#myList li").size();
			x = 1;
			$('#myList li:lt(' + x + ')').show();
			$('#loadMore').click(function () {
				x = (x + 1 <= size_li) ? x + 1 : size_li;
				$('#myList li:lt(' + x + ')').show();
			});
			$('#showLess').click(function () {
				x = (x - 1 < 0) ? 1 : x - 1;
				$('#myList li').not(':lt(' + x + ')').hide();
			});
		});
	</script>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/bootstrap.js"></script>
  <script>
    var table_id='{{table_id}}';
    var app = new Vue({
      el:'#app',
      data:{
        author:'菜单',
        dishes:[
        ]
    },//data is end
      methods:{
        get_dishes:function(){
          //从服务器上获取数据
          //ajax
          //JQuery
          $.ajax({
            type:"get",
            url:"/dish",
            context:this,
            success:function(data,status){
              this.dishes=data;
            }
          });
          
        },//get_dishes is end
        send(){
          if(this.calc ==0)
          {
            alert("当前未选择任何菜品，不能下单哟！")
            return;
          }

          var dish_ids = [];
          for(var index in this.dishes)
          {
            if(this.dishes[index].selected)
            {
              dish_ids.push(this.dishes[index].dish_id);
            }
          }
          //构造请求
          var body={
            table_id:table_id,
            time:new Date().toLocaleDateString(),
            //time:"2020",
            dish_ids:dish_ids,
          }
          $.ajax({
            type:"post",
            url:"/order",
            data:JSON.stringify(body),
            contentType:"application/json",
            success:function(data,status){
              alert("下单成功！请稍等");
            }
          });

        }//send is end
      },//methods is end
      computed:{
        calc:function(){
          var total_price = 0;
          for(var index in this.dishes){
            if(this.dishes[index].selected){
              total_price+=this.dishes[index].price;
            }
          }
          return total_price / 100;
        }
      },//computed is end

})//app vue end

app.get_dishes();
  </script>

</body>

</html>
